* {

    margin: 0;
    padding: 0;

}

.container {

    display: flex;
    flex-direction: row;

}

.child {

    padding: 15px;
    padding-left: 50px;
}


/* Credit to W3 Schools for this */
.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}

.landing {

    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


h1,
h2,
h3 {

    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;


}

p {

    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {

    list-style-type: none;
    margin: 5px;
    padding-left: 5px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

ol {

    list-style-type: none;
    margin: 5px;
    padding-left: 5px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

img {

    border-radius: 4%;
    width: 35%;
    height: 50%;
    padding-top: 20px;
    padding-left: 20px;

}

img.yaki {

    float: left;

}


body {

    background-color: #A0AEC1;
}

ul.nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
    color: white;


}


li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: Left;

}

#landing {

    float: center;
    color: black;
    margin-left: 280px;
    margin-top: 50px;
}

#landing:hover {

    color: white;
}


li a:hover {

    color: black;

}